a{
  color: white;
}

a:hover{
  color:yellow;
}

h1{
  font-size: 3rem;
}

li{
  list-style-type: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

/* .App-logo {
  background-color: #282c34;
} */

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.swaying {
  height: 25rem;
	animation: swaying 3s ease-in-out infinite;
}

#about{
  background-color: #078E8B;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#futurePic{
  border: 4px solid white;
  margin: 8rem;
  padding: 1rem;
  width: 85%;
}

#futurePic img{
  width: 50%;
}

#headerPic{
  display: flex;
  flex-direction: column;
}

#logoArray{
  border: 0.25rem solid white;
  display: flex;
  align-items: center;
  justify-content: space-between
}

#upperHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

@keyframes swaying {
	0% {transform: translateX(-10px) rotate(-2deg);}
	25% {transform: translateX(10px) rotate(2deg);}
	50% {transform: translateX(-10px) rotate(-2deg);}
	75% {transform: translateX(10px) rotate(2deg);}
	100% {transform: translateX(-10px) rotate(-2deg);}
}

