.App {
  text-align: center;
}

.App-logo {
  background-color: #282c34;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes trembling {
	0% {transform: translateX(0) rotate(0deg);}
	20% {transform: translateX(-10px) rotate(-2deg);}
	40% {transform: translateX(10px) rotate(2deg);}
	60% {transform: translateX(-10px) rotate(-2deg); }
	80% {transform: translateX(10px) rotate(2deg);}
	100%{transform: translateY(0) rotate(0deg);}
}

.trembling {
  height: 400px;
	animation: trembling 5s ease-in-out infinite;
}
