a {
  color: white;
  margin: 1rem;
  font-size: 1rem
}

h1 {
  font-size: 2rem;
}

h3 {
  margin: 0;
}

h6 {
  margin: 0;
}

li {
  list-style-type: none;
}

p{
  margin: 0
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.App-link {
  color: #61dafb;
}

.Array {
  background-color: #078e8b;
  border: 0.25rem solid white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  width: 75%;
}

.control-arrow {
  width: 25%;
}

.control-arrow:hover {
  color: white;
  border: 0.25rem solid #282c34;
}

.craftImg {
  border: 0.125rem solid #282c34;
  border-radius: 1rem;
}

.itemSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  width: 100%;
}

.linkDiv {
  margin-top: 1rem
}

#logoArray {
  min-height: 3rem;
  font-size: 1.5rem;
}

.logoImgDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  width: 45%;
  margin-bottom: 2rem;
  word-wrap: break-word;
}

.logoImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: auto;
}



.projectImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: auto;
  width: 85%;
  margin: 0.5rem 0;
  box-shadow: 1rem 1rem 0.5rem black;
  transition: 0.25s;
}

.projectImg:hover {
  box-shadow: 2rem 2rem 1rem black;
}

.projectImgDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 32%; */
  width: 85%;
  margin: 3rem 0;
  /* text-shadow: 0.5rem 0.5rem 0.5rem black; */
}

.section {
  margin-top: 8rem;
}

.swaying {
  border-radius: 1rem;
  /* height: 20rem; */
  animation: swaying 3s ease-in-out infinite;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}

#bottomButtons {
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

#crafts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2rem;
  width: 100%;
}

#crafts img {
  height: 32rem;
  width: auto;
}

#focus {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  /* width: 100%; */
}

#futurePic {
  background-color: #078e8b;
  border: 4px solid white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
  width: 85%;
}

#futurePic img {
  width: 50%;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black;
}

#headerInfo {
  display: flex;
 
  flex-direction: column;
  width: 85%;
}

#headerPic {
  display: flex;
  height: 18rem;
  flex-direction: column;
  width: auto
}

#iframeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 36rem;
  margin-bottom: 4rem;
  width: 100%;
}

#iframeDiv iframe {
  width: 85%;
}

#projectArray {
  min-height: 3rem;
  font-size: 1.5rem;
 
}

#shirts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 2rem;
  width: 100%;
}
#shirts img {
  height: 32rem;
  width: auto;
}

#upperHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#upperHeader button {
  background-color: #282c34;
  border: none;
  font-size: 0.15rem;
  color: white;
  text-decoration-line: underline;
}

#upperHeader button:hover {
  color: chartreuse;
  text-decoration-line: underline;
}

@keyframes swaying {
  0% {
    transform: translateX(-7px) rotate(-2deg);
  }
  25% {
    transform: translateX(7px) rotate(2deg);
  }
  50% {
    transform: translateX(-7px) rotate(-2deg);
  }
  75% {
    transform: translateX(7px) rotate(2deg);
  }
  100% {
    transform: translateX(-7px) rotate(-2deg);
  }
}
