a{
  color: white;
}

a:hover{
  color:yellow;
}

h1{
  font-size: 3rem;
}

li{
    list-style-type: none;
}

.App {
  text-align: center;
}

.App-logo {
  background-color: #282c34;
  /* height: 9rem; */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  
}

.App-link {
  color: #61dafb;
}

.swaying {
  height: 25rem;
	animation: swaying 5s ease-in-out infinite;
}

#futurePic{
opacity: 0.2;
}

#headerPic{
display: flex;
flex-direction: column;
}

#upperHeader{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@keyframes swaying {
	0% {transform: translateX(0) rotate(0deg);}
	20% {transform: translateX(-10px) rotate(-2deg);}
	40% {transform: translateX(10px) rotate(2deg);}
	60% {transform: translateX(-10px) rotate(-2deg); }
	80% {transform: translateX(10px) rotate(2deg);}
	100%{transform: translateY(0) rotate(0deg);}
}

