a{
  color: white;
}

a:hover{
  color:yellow;
}

h1{
  font-size: 3rem;
}

li{
  list-style-type: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.App-link {
  color: #61dafb;
}

.craftImg{
  display: flex;
width: 85%;
 margin:1rem;
 border-radius: 1rem;
 box-shadow: 0.5rem 0.5rem 1rem black; 
}

.swaying {
  border-radius: 1rem;
  height: 25rem;
	animation: swaying 3s ease-in-out infinite;
}

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3rem 0;
}

#craftArray{
  background-color: #078E8B;
  border: 0.25rem solid white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 85%;
}

#crafts{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
  width: 100%;
}

#focus{
  display: flex;
  justify-content: center;
  width:100%
}

#futurePic{
  background-color: #078E8B;
  border: 4px solid white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black; 
  /* margin: 4rem; */
  width: 85%;
}

#futurePic img{
  width: 50%;
  border-radius: 1rem;
 box-shadow: 0.5rem 0.5rem 1rem black; 
}

#headerPic{
  display: flex;
  flex-direction: column;
}

#logoArray{
  background-color: #078E8B;
  border: 0.25rem solid white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem black; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 85%;
}

#upperHeader{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 6rem;
  width: 100%;
}

@keyframes swaying {
	0% {transform: translateX(-10px) rotate(-2deg);}
	25% {transform: translateX(10px) rotate(2deg);}
	50% {transform: translateX(-10px) rotate(-2deg);}
	75% {transform: translateX(10px) rotate(2deg);}
	100% {transform: translateX(-10px) rotate(-2deg);}
}

